@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');



.companybg{
    background: rgb(27, 27, 27);
}

.head{
    
padding-top: 100px;
}
.head h1{
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
   
}

.company-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    background: white;
    width: 200px;
    /* height: 400px; */
    margin: 10px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}




.card h2{
    padding: 10px;
}
.card p{
    padding: 10px;
}

.card a{
    background-color: black;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
}

.card:hover{
    background-color: rgb(62,62,62);
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}

