

.icon {
  vertical-align: middle;
  line-height: 1px;
  font-size: 20px;
}
.icon_header {
  vertical-align: middle;
  line-height: 1px;
  font-size: 26px;
}
.icon, .icon_header {
  margin-right: 5px;
}

.close_icon {
  color: red;
  margin-left: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.expertgrid-container {
  margin: 0;
  padding: 0;
  background-color: rgb(183, 198, 197);
  color: #151515;
  font-family: 'Montserrat', sans-serif;
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    'sidebar header header header'
    'sidebar main main main';
  height: 150vh;
}

/* Header  */
.header {
  grid-area: header;
  width:65%;
  margin-left: 360px;
  margin-top: 10px;
  margin-bottom: 10px;
  height:45px;
  display: flex;
  overflow: auto;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0 10px;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
  background-color: rgb(195, 206, 215);
  border-radius: 50px;
}

.menu-icon {
  display: none;
}
/* End Header  */

/* Sidebar  */
#sidebar {
 
  grid-area: sidebar;
  height: 100%;
  background-color: rgb(14, 192, 177);
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.sidebar-title {
  color: #1d2634;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 0px 30px;
  margin-bottom: 30px;
}

.sidebar-title > span {
  display: none;
}

.sidebar-brand {
  color: #1d2634;
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}

.sidebar-list {
  color: #1d2634;
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item {
  color: #1d2634;
  
  padding: 20px 20px 20px 20px;
  font-size: 18px;
}

.sidebar-list-item:hover {

  background: #333;
  color: #57c1cf;
  cursor: pointer;
}

.sidebar-list-item > a {
  text-decoration: none;
  color: #070707;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  z-index: 12 !important;
}


.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
  color: rgba(40, 39, 39, 0.95);
  background-color: rgb(183, 198, 197);
}

.main-title {
  margin-top: 12%;
  display: flex;
  justify-content: space-between;
}

.maincardsexpert{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 15px 0;
}

.cardexpertdb {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
}

.cardexpertdb:hover{
  color: white;
  
}


.cardexpertdb:first-child {
  background-color: #6ebcbc;
}
.cardexpertdb:first-child:hover {
  background-color: rgb(232, 75, 135);
}

.cardexpertdb:nth-child(2) {
  background-color: #ff6d00;
}

.cardexpertdb:nth-child(3) {
  background-color: #2e7d32;
}

.cardexpertdb:nth-child(4) {
  background-color: #d50000;
}

.cardexpertdb-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardexpertdb-inner > .cardexpertdb_icon {
  font-size: 25px;
}

.cardexpertdb-inner h3{
  padding: 10px;
}

.charts {
  color: #161616;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 60px;
  height: 300px;
}

/* End Main  */


/* Medium <= 992px */
  
@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'header'
      'main';
  }

  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title > span {
    display: inline;
  }
}
/* Small <= 768px */
  
@media screen and (max-width: 768px) {
  .main-cardsexpert {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}

/* Extra Small <= 576px */

@media screen and (max-width: 576px) {
  .header-left {
    display: none;
  }
}

.usersdisplaydiv{
  margin-top: 10%;
  /* margin-left: 30%; */
 
}

.resultsdisplaydiv{
  margin-top: 20%;
  /* margin-left: 10%; */
}
.listofapplicantsdisplay,.applicantsresultsdisplay {
  width: 100%;
  border-collapse: collapse;
  /* margin: 20px 0; */
  font-size: 1.1em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-left: 10%;
}



.listofapplicantsdisplay thead tr,.applicantsresultsdisplay thead tr {
  background-color: rgb(120, 181, 176);
  color: #0c0c0c;
  text-align: left;
  font-weight: bold;
}
.listofapplicantsdisplay th,.applicantsresultsdisplay th,
.listofapplicantsdisplay th,.applicantsresultsdisplay td {
  padding: 15px 30px;
  text-align: left;
}

.listofapplicantsdisplay tbody tr,.applicantsresultsdisplay tbody tr {
  border-bottom: 1px solid #dddddd;
}

.listofapplicantsdisplay tbody tr:nth-of-type(even),.applicantsresultsdisplay tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.listapplicantsdisplay tbody tr:last-of-type,.applicantsresultsdisplay tbody tr:last-of-type {
  border-bottom: 2px solid rgb(120, 181, 176);
}

/* expert-navbar */


.experttopnav {
  position: fixed; /* Fix the navigation bar at the top */
  top: 0;
  left: 260px; /* Adjust according to the width of ExpertLeftNav */
  right: 0;
  z-index: 1000; /* Ensure it's above other content */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px;
}

/* .experttopleft-section,
.experttopmiddle-section,
.experttopright-section {
  flex-grow: 1;
} */

.experttopleft-section {
  text-align: left;
  font-size: 1.2em;
}

.experttopmiddle-section {
  text-align: center;
  font-size: 1.2em;
}

.experttopright-section {
  text-align: right;
}

.expert-name {
  margin-right: 10px;
}

.expertclassbutton {
  background-color: #0a96ac;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.expertclassbutton:hover {
  background-color: #1ab3ce;
}

.searchuserbyexpertcontainer{
  margin-left: 20%;
  margin-top: 50%;

  background-color: #6ebcbc;
  padding: 10%;
  border-radius: 20px;
  font-size: 1.1em;
}


/* edit questions Start */
.eqdiv {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 20px;
  margin-left: 100%;
  margin-right: -100%;
}

.eqh2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.eqh3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.eqinput,
.eqselect {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.eqoption {
  font-size: 16px;
}

.eqbutton {
  padding: 12px 24px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.eqbutton:hover {
  background-color: #0056b3;
}

.eqdiva {
  margin-top: 20px;
}

.eqchecka,
.eqcheckb {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.eqselectx {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.eqoptionf {
  font-size: 16px;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}


/* edit question end */
